#active_profile {
    display:flex;
}

#filter {
    margin:15px;
    font-family: 'Lato', sans-serif;
    font-size:14pt;
}

#filter_status {
    display: inline-flex;
    position: relative;
    bottom:5px;
    font-family: 'Lato', sans-serif;
    
}

#filter_title {
    color: #999;
}

#rectangle {
    position:relative;
}
#circle {
    position: relative;
    left:-30px;
    top:5px;
}

.filter_item {
    border:1px solid #BCBCBC;
    font-family: 'Montserrat', sans-serif;
    font-size:16pt;
    border-radius:25px;
    width:250px;
    padding:9px;
    padding-left:15px;
    margin:15px;
    display:flex;
}
.item {
    flex:8;
}

.status {
    flex:1;
}

#main {
    display:flex;
}

#profile_check {
    display:flex;
    flex-direction:column;
    position:relative;
    left:35%;
    top:15%;
}

#name_age_box {
    margin-top:-6px;
    position:relative;
    left:7.5%;
}

#name_age_info {
    font-family: 'Montserrat', sans-serif;
    color:#FFF;
    font-size:24pt;
    font-weight:600;
    position:relative;
    bottom:55%;
    left:5%;
}

.bottom_btns {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size:14pt;
    position:relative;
    padding: 10px 70px 10px 70px;
    margin: 0px 5px 0px 5px;
    border-radius:5px;
    color:#FFF;
    cursor:pointer;
}

.pass_like {
    background-color: #4C4C4C;
}

#profile_btn {
    background-color: #8AD1F1;
}

.arrows {
    position:relative;
    top:55%;
    cursor:pointer;
    left:35%;
}
