#confirmBody{
    overflow-y: hidden;
    font-family: 'Montserrat', sans-serif;
}
#SideDecore{
    width: 100vw;
    height: 100vh;
}
#pink-box{
    width:39.5%;
    height: 5%;
    background-color: #EF7DAE;
    position: absolute;
    right: 0px;
    top:820px;
}

#blueBox{
    width:60%;
    height: 100%;
    background:linear-gradient(180deg, rgba(255,255,255,1) 22%, rgba(138,209,241,1) 100%);
}

#sideLogo{
    position: absolute;
    width: 50%;
    height: auto;
    align-items: center;
    align-content: center;
}


#nextButton{
    background:    #373837;
    border-radius: 11px;
    padding:       12px 39px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 16px/1 "Open Sans", sans-serif;
    text-align:    center;
    position: absolute;
    right: 90px;
    top:700px;
}

#cancelButton{
    background:    #373837;
    border-radius: 11px;
    padding:       12px 39px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 16px/1 "Open Sans", sans-serif;
    text-align:    center;
    position: absolute;
    right: 435px;
    top:700px;
}

.form-horizontal{
    position: absolute;
    right: 90px;
    top:200px;
    display: inline-block;
}

.form-group{
    padding: 10px;
}

.form-group input{
    padding: 20px;
    width :400px;
}

#diectionsText{
    position: absolute;
    right: 120px;
    top:70px;
}

a{
    text-decoration: none;
}

a:visited { text-decoration: none; color: white; }