#chat-screen{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    overflow: auto;
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 18;
    margin-left: 100px;
    margin-right: 100px;
}

.user1-screen{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
    align-items: center;

}

.user1-screen img{
    height: 400px;
    
}

.user2-screen img{
    height: 400px;
}

.user2-screen{
    display: flex;
    width: 100%;
    right: 0;
    height: fit-content;
    justify-content: flex-end;
    align-items: center;
}

.chat-box{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    height: fit-content;
    width: 40%;
    padding-left: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    text-align: left;
    border-radius: 25px;
    float: right;
    right: 20px;
    background-color: #373837;
    color: white;
}

.chat-box2{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    height: fit-content;
    width: 40%;
    padding: 10px;
    background: rgb(255,120,171);
    background: linear-gradient(90deg, rgba(255,120,171,1) 0%, rgba(117,179,220,1) 60%);
    text-align: left;
    border-radius: 25px;
    float: left;
    left: 20px;
    padding-left: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    color: white;
}

#chat-screen img{
    width: 200px;
    margin: 70px;
}