#input-box{
    display: flex;
    width: 100%;
    height: 500px;
    font-size: 60px;
}

#input-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 150px;
    background:linear-gradient(180deg, rgb(243, 249, 255) 22%, rgb(231, 244, 255) 100%);
    border: 0px;
}

#input input{
    opacity: 50%;
    border-top: 0px;  
    margin-top: 10px; 
}

#icons-msg-page{
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-top: 40px;
    margin-left: 40px;

}


#icons-msg-page img{
    height: 70%;
    width: auto;
}
 

#send{
    display: flex;
    flex: 10;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

#send button{

    background:linear-gradient(180deg, rgb(179, 217, 252) 22%, rgb(138, 209, 241) 100%);
    height: 150px;
    color: white;
    width: 350px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    border: 0px;
}

#emo-img{
    margin-left: 60px;
    height: 70px;
}

.emoticon{
    margin-top: 20px;
    height: 100px;
}