#input-box{
    display: flex;
    width: 100%;
    height: 500px;
    font-size: 60px;
}

#input-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 3px solid whitesmoke;
}

#input input{
    opacity: 50%;   
}

#icons-msg-page{
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-top: 40px;
    margin-left: 40px;

}


#icons-msg-page img{
    height: 70%;
    width: auto;
}
 

#send{
    display: flex;
    flex: 10;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

#send button{
    background-color: #8AD1F1;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

#emo-img{
    margin-left: 60px;
    height: 70px;
}

.emoticon{
    margin-top: 10px;
    height: 120px;
}