body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
}


#app, #blue_section, #white_section, .checkbox_container, .login_btns, #login_section, #white_heading, #white_heading p  {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    width: 100vw;
    height: 100vh;
}

#blue_section {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(138, 209, 241, 1) );
    flex: 5;
}

#blue_section img {
    min-width: 500px;
    height: auto;
}

#white_section {
    flex-direction: column;
    flex: 5;
    height: 100vh;
}

#login_section {
    flex-direction: column;
    flex: 3;
}
#white_heading {
    flex-direction: column;
}

#white_heading p:nth-child(1) {
    font-size: 28pt;
    font-weight: bold;
}

#white_heading p:nth-child(2) {
    font-size: 16pt;
    padding: 0 0 0 20px;
}

#password_link {
    margin: 10px;
    color: #2185D0;
    text-decoration: underline;
}

#login_btn {
    border: #DEDEDF;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14pt;
    color: white;
    background-color: #8AD1F1;
    border-radius: 3px;
    padding: 0 20px;
    margin: 0 10px;
}

#signup_btn {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14pt;
    color: rgba(0, 0, 0, 0.6);
    background-color: #E0E1E2;
    border-radius: 3px;
    padding: 0 20px;
    margin: 0 10px;
}

#input_username, #input_password {
    border: 1px solid #DEDEDF;
    border-radius: 3px;
    min-height: 25px;
    margin: 5px;
}